body {
    background-color: #25b6db;
    color: #e7dc27;
    font-family: "Courier", monospace;
    margin: 8em auto;
    width: 42em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: magenta;
    cursor: pointer;
}

p:last-child {
    color: #25b6db;
}

p:last-child a {
    color: #25b6db;
}

p:last-child a:hover {
    color: magenta;
}